.homeSectionThree{
    height: 150vh;
    background: #ffe97f;
}
.homeSectionThree .homeSectionThreeContainer{
    margin-top: 4rem;
    padding-left: 11rem;
    padding-right: 11rem;
}
.homeSectionThree .homeSectionThreeFirst{
    display: grid;
    grid-template-columns: auto auto;
}
.homeSectionThree .homeSectionThreeFirst .payOne{
    font-size: 1.8rem;
    margin-top: 5rem;
    font-weight: 500;
    color: rgb(39, 37, 37);
    margin-bottom: 1rem;
}

.homeSectionThree .homeSectionThreeFirst .anyWhere{
    font-size: 1.1rem;
}
.homeSectionThree .homeSectionThreeFirst .anytime{
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.homeSectionThree .homeSectionThreeFirst img{
    height: 20rem;
    width: 20rem;
}