.homeSectionOne{
    background-color: rgb(242, 237, 220);
    height: 105vh;
    border-bottom: 2px solid black;
}
.homeSectionOne .homeSectionOneContainer{
    display: flex;
    justify-content: space-between;
    padding-right: 6rem;
    padding-top: 20rem;
    padding-left: 6rem;
    gap: 1.5rem;
}

.homeSectionOne .homeSectionOneContainer .secondContainer{
    border: 2px solid black;
    margin-top: -9rem;
    width: 30%;
}

.homeSectionOne .homeSectionOneSave{
    margin-top: -10rem;
}
.homeSectionOne .homeSectionOneSave .goVerified{
    margin-top: 2rem;
}

.homeSectionOne .homeSectionOneSave .goVerified .money{
    padding-bottom: 1.6rem;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.homeSectionOne .homeSectionOneSave .goVerified .myArticle{
    font-size: 1.2rem;
    color: black;
}
.homeSectionOne .homeSectionOneSave .goVerified span {
    font-size: 1.4rem;
    font-weight: 600;
    padding-left: 9px;
    padding-right: 5px;
    color: rgb(48, 45, 45);
}

.homeSectionOne .homeSectionOneSave .spend {
    font-size: 3rem;
    font-weight: 500;
    color: rgb(49, 47, 47);
}

.homeSectionOne .homeSectionOneSave .getVid{
    display: flex;
    align-items: center;
    gap: 1rem;
}




.homeSectionOne .homeSectionOneSave .getVid .toGet{
    padding: 10px 27px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    transition: all 400ms ease;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    text-decoration: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
}

.homeSectionOne .homeSectionOneSave .getVid .toGet span {
    padding-right: 9px;
}

.homeSectionOne .homeSectionOneSave .getVid .toGet:hover{
    background: rgb(71, 70, 70);
}
.homeSectionOne .homeSectionOneSave .getVid .works{
    padding: 1px 15px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    background: none;
    border: 1px solid rgb(0, 0, 0);
    transition: all 400ms ease;
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    text-decoration: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
}
.homeSectionOne .homeSectionOneSave .getVid .works span {
    padding-right: 9px;
    font-size: 1.8rem;
    padding-top: 5px;
    color: rgb(34, 32, 32);
}
.homeSectionOne .homeSectionOneSave .getVid .works:hover {
    background: rgb(238, 232, 232);
}

.homeSectionOne .backBy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    gap: 2rem;
}
.homeSectionOne .backBy .by{

}
.homeSectionOne .backBy img {
    height: 2rem;
    width: 9rem;
}

@media (max-width: 1200px) {
    .homeSectionOne .homeSectionOneContainer{
        display: flex;
        justify-content: space-between;
        padding-right: 2rem;
        padding-top: 15rem;
        padding-left: 2rem;
        display: flex;
        gap: 3rem;
    }
}
@media (max-width: 1024px) {
    .homeSectionOne{
        background-color: rgb(242, 237, 220);
        height: 110vh;
        border-bottom: 2px solid black;
    }
    .homeSectionOne .homeSectionOneContainer{
        display: flex;
        justify-content: space-between;
        padding-right: .7rem;
        padding-top: 18rem;
        padding-left: .7rem;
        display: flex;
        gap: 6rem;
    }
    .homeSectionOne .homeSectionOneSave .spend {
        font-size: 2.5rem;
        font-weight: 500;
        color: rgb(49, 47, 47);
    }
    .homeSectionOne .homeSectionOneSave .goVerified span {
        font-size: 1.3rem;
        font-weight: 500;
        padding-left: 9px;
        padding-right: 5px;
        color: rgb(48, 45, 45);
    }
}
@media (max-width: 900px) {
    .homeSectionOne{
        background-color: rgb(242, 237, 220);
        height: 95vh;
        border-bottom: 2px solid black;
    }
    .homeSectionOne .homeSectionOneContainer{
        display: grid;
        padding-right: 6rem;
        padding-top: 12rem;
        padding-left: 6rem;
    }
    .homeSectionOne .homeSectionOneContainer .secondContainer{
        border: 2px solid black;
        margin-top: -37rem;
        width: 80%;
        margin-left: 9rem;
        height: 30vh;
        margin-bottom: 2rem;
    }
    .homeSectionOne .homeSectionOneSave .getVid{
       display: grid;
        gap: 1rem;
        margin-left: 7rem;
        margin-top: 25rem;
        width: 100%;
    }
    .homeSectionOne .backBy {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -1rem;
        gap: 2rem;
    }
}
@media (max-width: 768px) {
    .homeSectionOne{
        background-color: rgb(242, 237, 220);
        height: 120vh;
        border-bottom: 2px solid black;
    }
    .homeSectionOne .homeSectionOneContainer{
        display: grid;
        padding-right: 6rem;
        padding-top: 15rem;
        padding-left: 6rem;
    }
    .homeSectionOne .homeSectionOneContainer .secondContainer{
        border: 2px solid black;
        margin-top: -29rem;
        width: 80%;
        margin-left: 6rem;
        height: 30vh;
        margin-bottom: 2rem;
    }
    .homeSectionOne .homeSectionOneSave .getVid{
        display: grid;
         gap: 1rem;
         margin-left: 2rem;
         margin-top: 19rem;
         width: 100%;
     }
     br{
        display: none;
     }
     .homeSectionOne .homeSectionOneSave .spend {
        font-size: 2rem;
        font-weight: 500;
        color: rgb(49, 47, 47);
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 1rem;
    }
    .homeSectionOne .backBy{
        margin-top: -2rem;
    }
}
@media (max-width: 600px) {
    .homeSectionOne{
        background-color: rgb(242, 237, 220);
        height: 100vh;
        border-bottom: 2px solid black;
    }
    .homeSectionOne .homeSectionOneContainer{
        display: grid;
        padding-right: 6rem;
        padding-top: 13rem;
        padding-left: 6rem;
    }
    .homeSectionOne .homeSectionOneSave .goVerified{
       display: none;
    }
    .homeSectionOne .homeSectionOneSave .spend {
        font-size: 2rem;
        font-weight: 500;
        color: rgb(49, 47, 47);
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 1rem;
    }
    br{
        display: none;
    }
    .homeSectionOne .homeSectionOneContainer .secondContainer{
        border: 2px solid black;
        margin-top: -33rem;
        width: 140%;
        margin-left: -5rem;
        height: 25vh;
        margin-bottom: 2rem;
    }

    .homeSectionOne .homeSectionOneSave .getVid{
        display: grid;
         gap: 1rem;
         margin-left: -5rem;
         margin-top: 22rem;
         width: 140%;
     }
     .homeSectionOne .backBy .by{
        display: none;
    }
}
@media (max-width: 480px) {
    .homeSectionOne{
        background-color: rgb(242, 237, 220);
        height: 100vh;
        border-bottom: 2px solid black;
    }
    .homeSectionOne .homeSectionOneContainer{
        display: grid;
        padding-right: 4rem;
        padding-top: 15rem;
        padding-left: 4rem;
    }
    .homeSectionOne .homeSectionOneSave .spend {
        font-size: 1.5rem;
        font-weight: 500;
        color: rgb(49, 47, 47);
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 1rem;
    }
    .homeSectionOne .backBy{
        display: none;
    }
    br{
        display: none;
    }
    .homeSectionOne .homeSectionOneContainer .secondContainer{
        border: 2px solid black;
        margin-top: -33rem;
        width: 140%;
        margin-left: -3.3rem;
        height: 30vh;
        margin-bottom: 2rem;
    }
    .homeSectionOne .homeSectionOneSave .getVid{
        display: grid;
         gap: 1rem;
         margin-left: -3.3rem;
         margin-top: 22rem;
         width: 140%;
     }
}
@media (max-width: 320px) {
    .homeSectionOne{
        background-color: rgb(242, 237, 220);
        height: 100vh;
        border-bottom: 2px solid black;
    }
    .homeSectionOne .homeSectionOneContainer{
        display: grid;
        padding-right: 4rem;
        padding-top: 15rem;
        padding-left: 4rem;
    }
    .homeSectionOne .homeSectionOneSave .spend {
        font-size: 1.5rem;
        font-weight: 500;
        color: rgb(49, 47, 47);
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 1rem;
    }
    .homeSectionOne .backBy{
        display: none;
    }
    br{
        display: none;
    }
    .homeSectionOne .homeSectionOneContainer .secondContainer{
        border: 2px solid black;
        margin-top: -30rem;
        width: 140%;
        margin-left: -2.8rem;
        height: 30vh;
        margin-bottom: 2rem;
    }
    .homeSectionOne .homeSectionOneSave .getVid{
        display: grid;
         gap: 1rem;
         margin-left: -2.8rem;
         margin-top: 20rem;
         width: 140%;
     }
}